<div *ngIf="projectData; else noProject">
  <form (ngSubmit)="onSubmit(proUpdate.value, proUpdate.valid)" #proUpdate="ngForm">
    <article>
      <header>
        <div class="inheader">
          <h3 class="title">
            <span [ngClass]="{'hide': !toggleEditView}">
              {{ projectData.title }}
              <span class="date">Posted On: {{ projectData.timestamp.weekday }} {{ projectData.timestamp.date }} {{ projectData.timestamp.year }}</span>
            </span>
            <span [ngClass]="{'hide': toggleEditView}"><input class="input" type="text" id="title" required [(ngModel)]="projectData.title" name="title" placeholder="Edit Post Title"></span>
          </h3>
          <div class="giturl">
            <span [ngClass]="{'hide': !toggleEditView}"><i class="ion-social-github"></i></span>
            <span [ngClass]="{'hide': toggleEditView}"><input class="input" type="text" id="giturl" required [(ngModel)]="projectData.giturl" name="giturl" placeholder="Edit Github Url"></span>
          </div>
          <div class="weburl">
            <span [ngClass]="{'hide': !toggleEditView}"><i class="ion-ios-paperplane"></i></span>
            <span [ngClass]="{'hide': toggleEditView}"><input class="input" type="text" id="weburl" required [(ngModel)]="projectData.weburl" name="weburl" placeholder="Edit Website Url"></span>
          </div>
        </div>
        <div class="togglebtn">
            <input id="checkbox" class="checkboxinput" type="checkbox" (change)="toggleEditView = !toggleEditView" />
            <label for="checkbox" class="checkboxlabel"></label>
        </div>
      </header>

        <div [ngClass]="{'hide': !toggleEditView}" [innerHTML]="projectData.markdown"></div>
        
        <textarea [ngClass]="{'hide': toggleEditView}" class="input" kgpAutosize type="text" id="content" name="content" class="markDownInput" placeholder="Edit Markdown Here" [(ngModel)]="projectData.content"></textarea>

        <ng-content></ng-content>

    </article>
  </form>
</div>

<ng-template #noProject>
  <div class="load">
    <div class="icon">
      <i [class]="noDataIcon"></i>
    </div>
    <h3>{{ noDatatitle }}</h3>
  </div>
</ng-template>