@import '../../var'

\:host
    z-index: 3
    display: grid
    height: 100vh
    padding: 1em
    position: relative
    overflow-y: scroll
    overflow-x: hidden
    background: $light
    grid-template-columns: 1fr
    box-shadow: -20px 0px 20px 0px rgba(213, 213, 228, 0.341176), -1px 0px 0px 0px rgba(0, 0, 0, 0.0313725)

article
    max-width: 800px
    margin: 0 auto