<form [formGroup]="emailForm" novalidate (ngSubmit)="onSubmit()">

  <div class="formitem" [ngClass]="inputClass1">
      <div class="icon">
          <i class="ion-ios-person"></i>
      </div>
      <div>
          <input type="text" class="item" id="userName" placeholder="Your Name" formControlName="userName"
            (focus)="inputClass1 = 'isfocus'" (blur)="inputClass1 = ''">
          <label for="userName">Your Name</label>
      </div>
  </div>

  <div class="formitem" [ngClass]="inputClass4">

    <div class="icon">
      <i class="ion-ios-compose"></i>
    </div>

    <div>
      <input type="text" class="item" id="userSubject" placeholder="Subject" formControlName="userSubject"
        (focus)="inputClass4 = 'isfocus'" (blur)="inputClass4 = ''">
        <label for="userSubject">Subject</label>
    </div>

  </div>


  <div class="formitem" [ngClass]="inputClass2">

    <div class="icon">
      <i class="ion-ios-email"></i>
    </div>

    <div>
      <input class="item" type="email" id="userEmail" placeholder="Your Email" formControlName="userEmail"
        (focus)="inputClass2 = 'isfocus'" (blur)="inputClass2 = ''">
        <label for="userEmail">Your Email</label>
    </div>

  </div>


  <div class="formitem" [ngClass]="inputClass3">

    <div class="icon">
      <i class="ion-ios-chatboxes"></i>
    </div>

    <div>
      <textarea class="item" id="userMessage" placeholder="Your Massage" formControlName="userMessage"
        (keyup)="textToMarkDown($event.target.value)" (focus)="inputClass3 = 'isfocus'" (blur)="inputClass3 = ''"></textarea>
        <label for="userMessage">Your Massage</label>
    </div>

  </div>

  <div class="center-btn">
      <kgp-button secondary icon="ion-ios-paperplane" type="submit" [disabled]="!emailForm.valid">Send Message</kgp-button>
  </div>

</form>
