<label [for]="type + 'image'">
  <div class="icon"><i class="fas fa-plus-circle"></i></div>
  <img #imageSrc class="image" [id]="type + 'imageSrc'" src="{{ preImage }}" alt="" (load)="onload($event)">
  <div class="border"></div>

  <div class="buttons" [ngClass]="{'isUploading': uploading}">

    <kgp-button primary icon="ion-ios-pause" [ngClass]="{'pausehide': pauseUp}" (click)="pauseUpload()">Pause</kgp-button>
    <kgp-button secondary icon="ion-ios-play" [ngClass]="{'pausehide': !pauseUp}" (click)="resumeUpload()">Resume</kgp-button>
    <kgp-button danger icon="ion-ios-close" (click)="cancelUpload()">Cancel</kgp-button>
    
  </div>
</label>
<input type="file" name="imageFile" [id]="type + 'image'" (change)="addfile($event)" accept="image/*">

<kgp-progressbar [level]="uploadPercent" [ngClass]="{'hideE': !uploading}"></kgp-progressbar>

