@import ../../var.sass

\:host
    max-width: 200px
    margin: 0 auto 35px

.item
    padding: 7px
    margin: 0 10px
    text-align: center
    width: 40px
    height: 40px
    border-radius: 50%
    cursor: pointer
    position: relative
    background: transparent
    z-index: 2
    transform: translateY(0) scale(1) translateZ(0)
    transition: all .3s ease-in-out
    box-shadow: 0 2px 4px rgba(33,37,41,.1), 0 7px 14px rgba(33,37,41,.1)

    &:hover
        background: $primary
        transform: translateY(-3px) scale(1.2)
        box-shadow: 0 30px 50px 0 rgba(1,1,1,.15)

        .icon
            color: $light

        .title
            opacity: 1
            font-size: 0.7rem


.title
    position: absolute
    overflow: hidden
    line-height: 0.5
    top: 50%
    padding: 0 10px
    z-index: -1
    left: 50%
    font-size: 0
    background: #fff
    text-align: center
    transform: translate(-50%, -195%)
    border-radius: 3px
    opacity: 0
    transition: all .3s ease-in-out
    box-shadow: 0 2px 4px rgba(33, 37, 41, 0.06), 0 7px 14px rgba(33, 37, 41, 0.04)

.name
    position: absolute
    opacity: 0
    font-size: 1px
    top: 0

.icon
    color: $fontPrimary
    transition: all .3s ease-in-out