<div class="adminPage" [ngClass]="{blur: toggleDelete}">

  <kgp-admin-bar pLink="/manageprojects/{{ ids }}"></kgp-admin-bar>

  <kgp-admin-side-bar project="projects">
    <kgp-admin-side-bar-item
      *ngFor="let data of (projects | async); index as i" 
      [projectData]="data" [ngClass]="{'isActive': ids === data.id }"
      id="item{{ i }}" target="_self"
      routerLink="/manageprojects/{{ data.id }}" fragment="item{{ i }}">
    </kgp-admin-side-bar-item>
  </kgp-admin-side-bar>

  <kgp-admin-body [projectData]="(project | async)">
    <div class="imageGrid" *ngIf="project | async; let project;">
      <kgp-upload-image-button id="smaill" type="small" [postTitle]="project.title" [preImage]="project.image.small.url" (downloadURLOut)="geturlSmaill($event)"></kgp-upload-image-button>
      <kgp-upload-image-button id="big" type="big" [postTitle]="project.title" [preImage]="project.image.big.url" (downloadURLOut)="geturlBig($event)"></kgp-upload-image-button>
    </div>
    <footer>
      <kgp-button primary icon="ion-ios-compose" type="submit">Update</kgp-button>
      <kgp-button danger icon="ion-ios-trash" (onClick)="toggleDelete = !toggleDelete">Delete</kgp-button>
    </footer>
  </kgp-admin-body>

</div>

<kgp-dialog *ngIf="(project | async); let pro" [ngClass]="{dialogopen: toggleDelete}">
  <div>
    <div class="dialcon">
      <p>Are you Sure You What To Delete</p>
      <p>{{ pro.title }}</p>
    </div>
    <kgp-button danger icon="ion-ios-trash" (onClick)="deleteItem(pro.id)">Delete</kgp-button>
    <kgp-button primary icon="ion-ios-close" (onClick)="toggleDelete = !toggleDelete">Cancel</kgp-button>
  </div>
</kgp-dialog>
