@import '../../var'

\:host
    display: block

.isActive
    background: $light
    z-index: 4
    box-shadow: -5px 0px 20px 3px rgba(210, 210, 210, 0.62)

.imageGrid
    display: grid


@media screen and (min-width: 1000px)

    .imageGrid
        grid-template-columns: 1fr 1fr
        align-items: flex-start