<kgp-header-bar></kgp-header-bar>

<div *ngIf="project | async; let project; else loading">

  <kgp-hero [title]="project.title"></kgp-hero>

  <div class="moveup">

    <div class="content">
      <div [innerHTML]="project.markdown | urlsan"></div>
    </div>

    <div class="imgCon">
      <kgp-card-image page [data]="project.image.big" [alt]="project.title"></kgp-card-image>
    </div>

  </div>

</div>

<ng-template #loading>
  <kgp-hero title="Loading..."></kgp-hero>

  <div class="moveup">

    <div class="content">
      <div [ngStyle]="{'margin': '2em'}"></div>

      <div class="facebookloading w90"></div>
      <div class="facebookloading"></div>
      <div class="facebookloading w75"></div>
      <div class="facebookloading w50"></div>

      <div [ngStyle]="{'margin': '2em'}"></div>

      <div class="facebookloading w90"></div>
      <div class="facebookloading"></div>
      <div class="facebookloading w75"></div>
      <div class="facebookloading w50"></div>

      <div [ngStyle]="{'margin': '2em'}"></div>
    </div>

    <div class="imgCon">
      <kgp-card-image page loading></kgp-card-image>
    </div>

  </div>

</ng-template>

<kgp-footer></kgp-footer>