<kgp-header-bar></kgp-header-bar>

<div *ngIf="project | async; let project; else loading">

  <kgp-hero [title]="project.title"></kgp-hero>

  <div class="moveup">

    <div class="content">
      <div [innerHTML]="project.markdown | urlsan"></div>
    </div>

    <div class="imgCon">
      <img [@fadeInOut]="fadeInState" class="img base" [src]="project.image.big.base64" [alt]="project.title">
      <img [@fadeInOut]="fadeOutState" class="img" [src]="project.image.big.url" (load)="isImgeLoad()" [alt]="project.title">
    </div>

  </div>

</div>

<ng-template #loading>
  <kgp-hero title="Loading..."></kgp-hero>

  <div class="moveup">

    <div class="content">
      <div [ngStyle]="{'margin': '2em'}"></div>

      <div class="facebookloading w90"></div>
      <div class="facebookloading"></div>
      <div class="facebookloading w75"></div>
      <div class="facebookloading w50"></div>

      <div [ngStyle]="{'margin': '2em'}"></div>

      <div class="facebookloading w90"></div>
      <div class="facebookloading"></div>
      <div class="facebookloading w75"></div>
      <div class="facebookloading w50"></div>

      <div [ngStyle]="{'margin': '2em'}"></div>
    </div>

    <div class="imgCon">
      <div class="facebookloading img" [ngStyle]="{'height': '500px'}"></div>
    </div>

  </div>

</ng-template>

<kgp-footer></kgp-footer>