  <div class="userIcon">
    <div class="borderline"></div>
    <div class="roundblue"></div>
    <div class="icon"><i class="fas fa-user-circle fa-fw"></i></div>
  </div>

  <form [formGroup]="loginForm" novalidate (ngSubmit)="onSubmit()">

    <div class="item">
      <input type="email" name="email" id="email" placeholder="Email" formControlName="loginEmail">
    </div>

    <div class="item">
      <input type="password" name="password" id="password" placeholder="Password" formControlName="loginPassword">
    </div>
    
    <div class="item item-btn">
      <button type="submit" class="btn primary">
        <div class="btnicon">
          <i class="fas fa-sign-in-alt fa-fw"></i>
        </div>
        <div>Login</div>
      </button>

      <button type="button" class="btn secondary" routerLink="''">
        <div class="btnicon">
          <i class="fas fa-times-circle fa-fw"></i>
        </div>
        <div>Cancel</div>
      </button>
    </div>

  </form>


<kgp-footer></kgp-footer>