  <div class="userIcon">
    <div class="borderline"></div>
    <div class="roundblue"></div>
    <div class="icon"><i class="ion-ios-person"></i></div>
  </div>

  <form [formGroup]="loginForm" novalidate (ngSubmit)="onSubmit()">

    <div class="item">
      <input type="email" name="email" id="email" placeholder="Email" formControlName="loginEmail">
    </div>

    <div class="item">
      <input type="password" name="password" id="password" placeholder="Password" formControlName="loginPassword">
    </div>
    
    <div class="item item-btn">

      <kgp-button [icon]="isLoading" primary type="submit">Login</kgp-button>
      <kgp-button icon="ion-ios-close" secondary routerLink="''">Cancel</kgp-button>
      
    </div>
  

  </form>


<kgp-footer></kgp-footer>