<h4 *ngIf="emailData; let data">
    <div><i class="ion-ios-pricetags-outline iconColor"></i></div>
    <div class="title hideOText">{{ data.name | truncate: 25 }}</div>
    <div class="icon">
        <i class="ion-ios-email close iconColor" [ngClass]="{'isActive': !data.open, 'tada': true }"></i>
        <i class="ion-ios-email-outline open" [ngClass]="{'isActive': data.open }"></i>
    </div>
    <div class="time">{{ data.timestamp.time.hours }}:{{ data.timestamp.time.seconds }}</div>
</h4>

<h4 *ngIf="projectData; let data">
    <div><i class="ion-ios-pricetags-outline iconColor"></i></div>
    <div class="title hideOText">{{ data.title | truncate: 25 }}</div>
    <div class="icon"><i class="ion-ios-clock-outline iconColor"></i></div>
    <div class="time">{{ data.timestamp.time.hours }}:{{ data.timestamp.time.seconds }}</div>
</h4>

<h5 *ngIf="emailData; let data" class="hideOText">{{ data.subject | truncate: 20 }}</h5>
<p *ngIf="emailData; let data">{{ data.message | truncate: 70 }}</p>
<p *ngIf="projectData; let data">{{ data.content | truncate: 70 }}</p>