<kgp-admin-bar></kgp-admin-bar>

<div class="addprojectpage">

  <form class="form" [formGroup]="AddProjectForm" (keyup)="formUpdate()" (ngSubmit)="onSubmit()">

    <div class="gridInput">
      <div>
        <input class="inputItem" type="text" [value]="postTitleBind" (input)="postTitleBind = $event.target.value" name="title" id="projectTitle"
          formControlName="projectTitle" placeholder="Title">

        <input class="inputItem" type="text" name="projectWebUrl" id="projectWebUrl" formControlName="projectWebUrl" placeholder="Projects Website Url">

        <input class="inputItem" type="text" name="projectGitUrl" id="projectGitUrl" formControlName="projectGitUrl" placeholder="Projects Github Url">
      </div>

      <div>

        <kgp-button secondary icon="ion-ios-compose" (onClick)="toggleView()" [ngClass]="{'hideView': htmlView}">View</kgp-button>
        <kgp-button secondary icon="ion-ios-browsers" (onClick)="toggleView()" [ngClass]="{'hideView': !htmlView}">Edit</kgp-button>

      </div>

    </div>

    <div>

      <textarea kgpAutosize type="text" name="markdown" class="markDownInput" placeholder="Add Markdown Here" formControlName="projectMarkdown"
        (keyup)="textToMarkDown($event.target.value)" [ngClass]="{'hideView': htmlView}"></textarea>

      <div class="markdownOutput" [ngClass]="{'hideView': !htmlView}" [innerHTML]="markdown | urlsan"></div>

    </div>

    <div class="imagebox" [ngClass]="{'hideView': !toggleImageView}">

      <div class="imageSmail">
        <kgp-upload-image-button id="smaill" type="small" [postTitle]="postTitleBind" (downloadURLOut)="geturlSmaill($event)" (click)="locktitle()"></kgp-upload-image-button>
      </div>

      <div class="imageBig">
        <kgp-upload-image-button id="big" type="big" [postTitle]="postTitleBind" (downloadURLOut)="geturlBig($event)" (click)="locktitle()"></kgp-upload-image-button>
      </div>

    </div>

    <div class="btnc">
      <kgp-button secondary icon="ion-ios-compose" type="submit">Submit</kgp-button>
      <kgp-button primary icon="ion-ios-close" (onClick)="resetEmailForm()">Cancel</kgp-button>
    </div>

  </form>

</div>