@import "../../var"

.skill-wrap
    display: grid
    grid-gap: 1em
    padding: 0 1em
    max-width: 800px
    margin: 0 auto 100px
    grid-template-columns: 1fr 1fr

.project-grid
    display: grid
    grid-template-columns: minmax(40%, 1fr) minmax(40%, 1fr)
    grid-gap: 1em
    padding: 0 1em
    align-items: self-start

.landingline
    border-bottom: 1px solid #cacaca

.landingbg
    background: $background2
    padding: 1em 0

    &:after
        content: ''
        position: relative
        display: block
        padding-bottom: 5em

.contact

    &:after
        content: ''
        position: relative
        display: block
        padding-bottom: 60px

.center-btn
    display: grid
    justify-content: center
    margin: 3em 0 0


@media screen and (min-width: 600px)

  .project-grid
      max-width: 600px
      margin: 0 auto

@media screen and (min-width: 980px)

    .project-grid
        grid-template-columns: repeat(4, 1fr)
        max-width: 1000px

@media screen and (min-width: 600px) and (max-width: 979px)

    kgp-card:nth-child(4)
        display: none

    .project-grid
        max-width: 800px
        grid-template-columns: minmax(30%, 1fr) minmax(30%, 1fr) minmax(30%, 1fr)

