
<kgp-header-bar></kgp-header-bar>

<kgp-hero title="Kerron Gordon"></kgp-hero>

<kgp-avatar img="assets/avatar.svg" alt="Kerron Gordon" class="home"></kgp-avatar>

<kgp-description [content]="( description | async)?.content"></kgp-description>

<kgp-social-icon [links]="socialLink"></kgp-social-icon>

<div class="skill-wrap">
    <kgp-skill-item *ngFor="let skill of (_ss.skills | async) index as i" [tabindex]="i" [content]="skill.title" [level]="skill.level"></kgp-skill-item>
</div>

<div class="landingline"></div>

<div class="landingline landingbg">

    <h2 class="line cinzel">Projects</h2>

    <div class="project-grid">

        <kgp-card *ngFor="let project of (projects | async) index as i" routerLink="/project/{{ project.id }}" [tabindex]="i">
            <kgp-card-image [data]="project.image.small" [alt]="project.title"></kgp-card-image>
            <kgp-card-content [data]="project"></kgp-card-content>
        </kgp-card>

    </div>

    <div class="center-btn">
        <kgp-button icon="ion-ios-albums" secondary routerLink="/projects">View Projects</kgp-button>
    </div>

</div>


<div class="contact">

    <h2 class="line cinzel">Get in touch</h2>

    <kgp-contact-form></kgp-contact-form>

</div>

<kgp-footer></kgp-footer>
