@import "../../var"

\:host
    display: block

.skill-wrap
    display: grid
    grid-gap: 1em
    padding: 0 1em
    max-width: 800px
    margin: 0 auto 100px
    grid-template-columns: 1fr 1fr

.landingline
    border-bottom: 1px solid #cacaca

.landingbg
    background: $background2
    padding: 1em 0

    &:after
        content: ''
        position: relative
        display: block
        padding-bottom: 5em

.contact

    &:after
        content: ''
        position: relative
        display: block
        padding-bottom: 60px

.center-btn
    display: grid
    justify-content: center
    margin: 3em 0 0

@media screen and (max-width: 699px)

    kgp-card:nth-child(3),
    kgp-card:nth-child(4)
        display: none


@media screen and (min-width: 700px) and (max-width: 999px)

    kgp-card:nth-child(4)
        display: none
