  <kgp-admin-bar></kgp-admin-bar>

  <div class="emailPage">

    <kgp-email-list [totalMail]="totalMessage" [newMail]="newMessage" [readMail]="readMessage" [ngClass]="{'hidem': toggleMobile}">
      <kgp-email-list-item
        *ngFor="let email of messages"
        id="{{ email.id }}"
        [data]="email"
        [ngClass]="{'isActive': activeItem === email.id, 'fadeInLeft': email.open === false }"
        (click)="openMessage( email.id )">
      </kgp-email-list-item>
    </kgp-email-list>


    <kgp-email-body [data]="openMassageItem" (delete)="deleteMessage($event)">
      <button type="button" class="btn primary closebtn" (click)="closeOpenMail()">
        <i class="far fa-times-circle fa-fw fa-lg"></i>
      </button>
    </kgp-email-body>

  </div>
