<header 
  fxLayout="row"
  [ngStyle.xs]="{'padding': '0'}"
  class="headerBar">

  <div 
    fxFlex="5" 
    fxFlex.xs="35" 
    fxFlex.sm="10"
    class="icon"
    routerLink="/">

      <i class="fas fa-home fa-fw fa-lg"></i>

  </div>

  <div 
    fxFlex="85" 
    fxFlex.sm="70" 
    class="searchBarCon" 
    fxHide.xs>

    <div 
      fxLayout="row" 
      class="searchBar" 
      [ngClass]="{'isActive': toggleSearchClass}">

      <div 
        fxFlex="4" 
        class="iconInput"
        fxFlex.sm="7">

        <i class="fas fa-search"></i>

      </div>

      <div 
        fxFlex="96" 
        fxFlex.sm="93">

        <input 
          class="search" 
          id="search" 
          type="search" 
          placeholder="Search Projects" 
          (keyup)="search($event.target.value)" 
          (focus)="focusSearch()" 
          (blur)="blurSearch()">

      </div>

    </div>

    <div 
      class="searchOutPut" 
      fxLayout="row">
    
      <div 
        fxFlex="50" 
        *ngIf="searchTitle?.length > 0" 
        class="padbuttom">

        <h4 class="stitle">By Title</h4>

        <div 
          *ngFor="let title of searchTitle" 
          class="searchItem hideOText" 
          routerLink="/project/{{ title.id }}">{{ title.title }}</div>

      </div>

      <div 
        fxFlex="50" 
        *ngIf="searchContent?.length > 0" 
        class="padbuttom">

        <h4 class="stitle">By Contnet</h4>

        <div 
          *ngFor="let content of searchContent" 
          class="searchItem hideOText" 
          routerLink="/project/{{ content.id }}">{{ content.content }}</div>

      </div>

    </div>
  </div>

  <div 
    fxFlex="10" 
    fxFlex.xs="65" 
    fxFlex.sm="20" 
    fxLayout="row">

    <div fxFlex="50" routerLink="/projects" class="icon">
      <i class="fas fa-list-ul fa-fw fa-lg"></i>
    </div>

    <div fxFlex="50" routerLink="/login" class="icon">
      <i class="fas fa-sign-in-alt fa-fw fa-lg"></i>
    </div>

  </div>

</header>


