<div class="bar">
  <span *ngIf="message">Total (  )</span>
  <span *ngIf="message">New (  )</span>
  <span *ngIf="message">Read (  )</span>
  <span *ngIf="project"></span>
  <span *ngIf="project">Edit Projects</span>
  <span *ngIf="project"></span>
</div>


<div class="list" *ngIf="message">
  <ng-container *ngTemplateOutlet="content"></ng-container>
</div>

<div class="list" *ngIf="project">
  <ng-container *ngTemplateOutlet="content"></ng-container>
</div>

<ng-template #content>
  <ng-content></ng-content>
</ng-template>
