@import '../../var'

\:host
    overflow-x: hidden
    overflow-y: scroll
    height: 100vh
    position: relative
    background: $adminbg
    box-shadow: -20px 0px 20px 0px rgba(213, 213, 228, 0.341176), -1px 0px 0px 0px rgba(0, 0, 0, 0.0313725)

.bar
    top: 0
    left: 0
    right: 0
    z-index: 6
    color: $light
    display: grid
    height: 28px
    font-size: 12px
    position: sticky
    text-align: center
    background: $primary
    grid-template-columns: 1fr 1fr 1fr