<div *ngIf="data; else loading">

  <header>
    
    <h4 class="subject">{{ data.subject }}</h4>
    <ng-content></ng-content>
    
    <div class="senderinfor">
      <h5>Sender:
        <span>{{ data.email }}</span>
      </h5>
      <h5>Name:
        <span>{{ data.name }}</span>
      </h5>
      <h5>Time:
        <span>{{ data.timestamp.time.hours }}:{{ data.timestamp.time.seconds }} {{ data.timestamp.month }} {{ data.timestamp.date }}, {{ data.timestamp.year }}</span>
      </h5>
    </div>

  </header>

  <div class="meassage">
    <div [innerHTML]="data.markdown"></div>
  </div>

  <div class="footer">
    <kgp-button danger icon="ion-ios-trash" (onClick)="deleteItem( data.id )">Delete</kgp-button>
  </div>

</div>

<ng-template #loading>
  <div class="load">
    <div class="icon">
      <i class="ion-ios-email-outline"></i>
    </div>
    <h3>No Messages Selected</h3>
  </div>
</ng-template>