
  <kgp-admin-bar></kgp-admin-bar>

  <div class="dashboardPage">

    <div class="header">

      <div class="item projects">
        <div class="icon"><i class="ion-ios-pie-outline"></i></div>
        <div><h3>Projects</h3></div>
        <div><h1>{{ projectNum }}</h1></div>
      </div>

      <div class="item skills">
        <div class="icon"><i class="ion-ios-settings"></i></div>
        <div><h3>Skills</h3></div>
        <div><h1>{{ skillsNum }}</h1></div>
      </div>

      <div class="item messages">
        <div class="icon"><i class="ion-ios-email-outline"></i></div>
        <div><h3>Messages</h3></div>
        <div><h1>{{ messageNum }}</h1></div>
      </div>

    </div> 
    <!-- header end -->

    <div class="editbar">

      <div class="card">
        <ul>
          <li *ngFor="let item of projects" [id]="item.id">
            <h4>{{ item.title }}</h4>
            <p>{{ item.content | truncate: 50 }}</p>
            <div class="date">Posted On {{ item.timestamp.month }} {{ item.timestamp.date }}, {{ item.timestamp.year }}</div>
          </li>
        </ul>
      </div>

    </div>

  </div>