
  <kgp-admin-bar></kgp-admin-bar>

  <div class="dashboardPage">

    <div class="header">

      <div class="item projects" *ngIf="(projects | async); let project">
        <div class="icon"><i class="ion-ios-pulse"></i></div>
        <div><h3>Projects</h3></div>
        <div>
          <h1>{{ project.length }}</h1>
        </div>
      </div>

      <div class="item skills" *ngIf="(skills | async); let skill">
        <div class="icon"><i class="ion-ios-settings"></i></div>
        <div><h3>Skills</h3></div>
        <div>
          <h1>{{ skill.length }}</h1>
        </div>
      </div>

      <div class="item messages" *ngIf="(messages | async); let message">
        <div class="icon"><i class="ion-ios-email-outline"></i></div>
        <div><h3>Messages</h3></div>
        <div>
          <h1>{{ message.length }}</h1>
        </div>
      </div>

      <div class="item facebookloading" *ngIf="(projects | async) === null"></div>
      <div class="item facebookloading" *ngIf="(skills | async) === null"></div>
      <div class="item facebookloading" *ngIf="(messages | async) === null"></div>

    </div> 

    <div class="editbar">

      <div class="sidebars skillbar">
        <div *ngFor="let skill of (skills | async); index as i" [id]="i" class="item">
          <div class="skillItem" (click)="editSkill(i)" [ngClass]="{'off': toggleSkills == i}" title="Click to Edit {{ skill.title }} skill">
            <h4>{{ skill.title }}</h4>
            <h4>{{ skill.level }}</h4>
          </div>
          <form class="skillform" [ngClass]="{'none': toggleSkills == i}" (submit)="updateSkill(i, skill.title, skill.level); toggleSkills = -1">
            <input class="input" [value]="skill.title" (input)="skill.title = $event.target.value">
            <input class="input" [value]="skill.level" (input)="skill.level = $event.target.value">
            <kgp-button primary icon="ion-ios-paperplane" type="submit">Save</kgp-button>
          </form>
        </div>
        <div *ngIf="(skills | async) === null">
          <div class="facebookloading"></div>
          <div class="facebookloading"></div>
          <div class="facebookloading"></div>
          <div class="facebookloading"></div>
          <div class="facebookloading"></div>
          <div class="facebookloading"></div>
          <div class="facebookloading"></div>
          <div class="facebookloading"></div>
        </div>
      </div>

      <div class="sidebars descripbar">
        <div *ngIf="description | async; let des">
          <p [ngClass]="{'off': toggleDes}" (click)="toggleDes = !toggleDes" title="Click to Edit description">{{ des.content }}</p>
          <form (submit)="updateDes(des.content); toggleDes = !toggleDes" [ngClass]="{'off': !toggleDes}">
            <textarea class="input" [value]="des.content" (input)="des.content = $event.target.value"></textarea>
            <kgp-button primary icon="ion-ios-paperplane" type="submit">Save</kgp-button>
          </form>
        </div>
        <div *ngIf="(description | async) === null">
          <div class="facebookloading"></div>
          <div class="facebookloading"></div>
          <div class="facebookloading"></div>
          <div class="facebookloading"></div>
          <div class="facebookloading"></div>
          <div class="facebookloading"></div>
          <div class="facebookloading"></div>
          <div class="facebookloading"></div>
        </div>
      </div>
      
    </div>

  </div>