@import '../../var.sass'

\:host 
    overflow: hidden
    display: grid
    position: relative
    height: 100vh
    background: $adminbg

::-webkit-scrollbar
    display: none

.dashboardPage
    overflow-x: hidden
    overflow-y: scroll
    height: 100vh
    box-shadow: $sidebarShadow

.header
    display: grid
    grid-gap: 1em
    margin: 20px 10px
    height: 150px
    grid-template-columns: 1fr 1fr 1fr

    .item
        color: $light
        display: grid
        padding: 1em
        grid-gap: 1em
        text-align: center
        border-radius: 3px
        align-items: center
        height: 100%
        grid-template-columns: 1fr

    h1,
    h3
        font-weight: 400
        margin: 0

.projects
    background: linear-gradient(to bottom right, #40bdff, #b6fe2d)
    box-shadow: $cardShadow

.skills
    background: linear-gradient(to bottom right, #08f5f2, #0ddc97)
    box-shadow: $cardShadow

.messages
    background: linear-gradient(to bottom right, #ffa16e, #ff6199)
    box-shadow: $cardShadow

.icon
    font-size: 1.5em


.editbar
    display: grid
    grid-template-columns: 1fr 1fr

.skillbar
    padding: 2em

.skillform
    width: 100%
    display: grid
    grid-gap: 2em
    grid-template-columns: 1fr auto auto

.skillItem
    display: grid
    grid-gap: 2em
    padding: 0.09em 0
    grid-template-columns: 1fr auto

    h4
        margin: 0

.none
    display: none


@media screen and (min-width: 600px)
    \:host
        display: grid
        grid-template-columns: auto 1fr

    .header
        padding: 0 1em

        .item
            grid-template-columns: 1fr 1fr

    .icon
        /* autoprefixer: off */
        grid-row: 1 /3
        display: flex
        align-items: center
        justify-content: center
        font-size: 3em

@media screen and (min-width: 960px)

    .header
        margin: 39px auto
        height: 200px
        max-width: 1200px
        grid-gap: 5em

        .item
            padding: 3em

    .icon
        font-size: 5em