
  <kgp-admin-bar></kgp-admin-bar>

  <div class="dashboardPage">

    <div class="header">

      <div class="item projects">
        <div class="icon"><i class="ion-ios-pulse"></i></div>
        <div><h3>Projects</h3></div>
        <div>
          <h1 *ngIf="projects | async; let project">{{ project.length }}</h1>
          <h1 *ngIf="(projects | async) == null">0</h1>
        </div>
      </div>

      <div class="item skills">
        <div class="icon"><i class="ion-ios-settings"></i></div>
        <div><h3>Skills</h3></div>
        <div>
          <h1 *ngIf="skills | async; let skill">{{ skill.length }}</h1>
          <h1 *ngIf="(skills | async) == null">0</h1>
        </div>
      </div>

      <div class="item messages">
        <div class="icon"><i class="ion-ios-email-outline"></i></div>
        <div><h3>Messages</h3></div>
        <div>
          <h1 *ngIf="messages | async; let message">{{ message.length }}</h1>
          <h1 *ngIf="(messages | async) == null">0</h1>
        </div>
      </div>

    </div> 

    <div class="editbar">

      <div class="skillbar">
        <div *ngFor="let skill of (skills | async); index as i" [id]="i" class="item">
          <div class="skillItem" (click)="editSkill(i)" [ngClass]="{'off': toggleSkills == i}">
            <h4>{{ skill.title }}</h4>
            <h4>{{ skill.level }}</h4>
          </div>
          <form class="skillform" [ngClass]="{'none': toggleSkills == i}" (submit)="updateSkill(i, skill.title, skill.level); toggleSkills = -1">
            <input class="input" [value]="skill.title" (input)="skill.title = $event.target.value">
            <input class="input" [value]="skill.level" (input)="skill.level = $event.target.value">
            <kgp-button primary icon="ion-ios-paperplane" type="submit">Save</kgp-button>
          </form>
        </div>
      </div>
      <div class="descripbar">
        <h2>description</h2>
        
      </div>
      
    </div>

  </div>