@import '../../var'

\:host
    position: absolute
    z-index: 9999999
    display: none
    background: rgba(#000, 0.5)
    top: 0
    left: 0
    right: 0
    bottom: 0
    overflow: hidden
    justify-content: center
    align-items: center

.box
    padding: 1em
    margin: 0 1em
    text-align: center
    border-radius: 3px
    background: $light
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.18), 0 20px 40px rgba(0, 0, 0, 0.27)