@import '../../var'

\:host
    background: $primary
    display: block
    position: relative
    z-index: 9999

.item
    color: $light
    cursor: pointer
    outline: none
    padding: 5px
    position: relative
    transition: background .3s ease-in-out, color .3s ease-in-out

    &:hover
        background: $light
        color: $primary

    &.is-active
        background: $adminbg
        color: $primary

.bar
    display: grid
    grid-template-columns: repeat(5, 1fr)
    text-align: center

.menu-title
    display: none
    font-size: 12px
    font-weight: 400
    margin: 0

i
    font-size: 1.5em

@media screen and (min-width: 600px)

    \:host
        box-shadow: none
        z-index: 1

    .item
        padding: 10px

    i
        font-size: 2em

@media screen and (min-width: 600px) and (max-width: 959px)

    .bar
        grid-template-columns: 1fr

@media screen and (min-width: 960px)

    .bar
        grid-template-columns: 1fr

    .menu-title
        display: block
